body {
    margin: auto;
    padding: auto;
    background-color: #455A64;
font-family: Roboto;
}
.header {
    background-color: #455A64;
    display: flex;
color: white;
    align-items: center;
    justify-content: flex-end;
    padding-left: 15%;
padding-right: 15%;
padding-bottom: 24px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

h1 {
    color: white;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
}



.header-left {
    
}


.header a {
    margin-left: 12px;
    color: #e5e7eb;
    font-size: 18px;
text-decoration: none;
}

a:hover{
text-decoration: none;
}

.header-right {
    margin-left: auto;
    
}

.hero-right img {
    max-width: 300px;
    border-radius: 12px;
    margin-left: 150px;
    
    
}

.hero {
    background-color: #455A64;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
}

.hero p {
       color: #e5e7eb;
}
.content {
    background-color: white;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.content-info {
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.info {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content img {
    width: 200px;
border-radius: 12px;
}

.quote {
    background-color: #e5e7eb;
    padding-left: 30%;
    padding-right: 30%;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


.quote-text {
    
    font-family: Roboto-light;
    font-size: 22px;
    
    font-style: italic;

}


.quote-author {
    font-size: 14px;
    font-weight: bold;
text-align: right;    
}

.cta-box {
    background-color: white;
    padding: 100px;
}
.cta {
    
    background-color: #FF5722;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    border-radius: 12px;
    
    align-items: center;
    
    justify-content: flex-end;
}

.cta-left {
    color: white;
padding-left: 10%;
}

.cta-right {
    padding-right: 10%;
    margin-left: auto;
}

.cta-left h1 {
    margin-bottom: -15px;
}
.footer {
    padding-top: 24px;
    padding-bottom: 24px;
    
    background-color: #455A64;
color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

button {
    border-radius: 12px;
    background-color: #FF5722;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 12px;
    border-style: none;
}

.cta button {
    border: 2px solid white;
}

.content h1 {
    font-size: 36px;
    color: #1F2937;
}